.info_member {
    background: #ffffff;
    padding: 16px 0;
}

.info_member-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 12.8px 19.2px;
}

.info_member-header-title {
    font-weight: 600;
    font-size: 16px;
}

.info_member-header-icon {
    transition: 0.2s;
    font-size: 16px;
    color: #72808e;
}

.info_member-interact {
    position: relative;
    overflow-y: hidden;
    max-height: 300px;
    transition: max-height 0.2s ease;
    overflow: hidden;
    position: relative;
}

.info_member-interact_button.flex-end {
    justify-content: flex-end;
}

.info_member-interact_button {
    position: absolute;
    right: 12px;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.info_member-interact_button .cirle-button.green {
    background: #50a960;
    transition: 0.4s;
}

.info_member-interact_button .cirle-button.green svg {
    color: #ffffff;
}

.info_member-interact_button .cirle-button.red {
    background: #db342e;
    transition: 0.4s;
}

.info_member-interact_button .cirle-button.red svg {
    color: #ffffff;
}

.info_member-interact_button .authorize-toggle.red:hover {
    background: #ffffff;
}

.info_member-interact_button .authorize-toggle.red:hover svg {
    color: #db342e;
}

.info_member-interact_button .authorize-toggle.green:hover {
    background: #ffffff;
}

.info_member-interact_button .authorize-toggle.green:hover svg {
    color: #db342e;
}

.info_member-interact_button .copy-link {
    transition: 0.4s;
}

.info_member-interact_button .copy-link:hover {
    background: #ffffff;
    color: #4c92ff;
}

.info_member-interact_button .cirle-button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(210, 239, 255, 0.5);
    border-radius: 50%;
}

.info_member-interact_button svg {
    font-size: 16px;
    color: #0068ff;
}

.info_member-interact_link-des {
    color: #4c92ff;
    font-size: 14px;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
}

.info_member-interact-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12.8px 22.4px;
    cursor: pointer;
}

.info_member-interact-amount-icon {
    font-size: 28.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.4px;
    transition: 0.2s;
}

.info_member-interact-amount-text {
    padding-left: 16px;
}

.info_member-interact-amount:hover {
    background: #eeeff2;
}