.detail-vote-wrapper {
    
}

.detail-vote_option {
    font-weight: 500;
    font-size: 25.6px;
}

.detail-vote_list-user {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.detail-vote_user-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 16px;
    margin-bottom: 16px;
}

.detail-vote_name {
    margin-left: 16px;
}

.detail-vote_name.leave {
    color: #c6c6c6;
}