#tabpane-media {
    height: 100%;
}

.option-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option-item .name-user-item {
    margin-left: 16px;
    font-size: 12px;
    font-weight: 400;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.item-in-archive-media {
    margin: 25.6px 0;
}

.item-in-archive-media .time-sent {
    font-size: 22.4px;
    font-weight: 600;
    margin: 16px 0;
}

.item-in-archive-media .list-item-sent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}