.info_file {
    background: #ffffff;
    padding: 16px 0;
}

.info_file-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 12.8px 0;
    margin: 0 19.2px;
}

.info_file-header-title {
    font-weight: 600;
    font-size: 25.6px;
}

.info_file-header-icon {
    transition: 0.2s;
    font-size: 25.6px;
    color: #72808e;
}

.info_file-interact {
    position: relative;
    overflow-y: hidden;
    transition: max-height 0.2s ease;
}

.info_file-interact-file {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.info_file-interact-button {
    margin: 0 22.4px;
}

.info_file-interact-button button {
    width: 100%;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.2s;
}

.info_file-interact-button button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.info_file-interact-amount:hover {
    background: #e8eaef;
}