/* Định dạng toàn bộ trang chat */
#main-chat-wrapper {
    height: 100vh;
    display: flex;
    background-color: #f0f2f5;
}

/* Row hiển thị full chiều cao */
.ant-row {
    width: 100%;
    height: 100%;
}

/* Cột Navbar */
.navbar-container {
    height: 100%;

}

/* Cột Danh sách cuộc trò chuyện */
.main-conversation {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #f0f2f5;
    background-color: #ffffff;
}

.main-conversation_list-conversation {
    margin-top: 16px;
    flex: 1;

    overflow-y: scroll;
}
.main-conversation_list-conversation::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
}
.main-conversation_list-conversation::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
}
.main-conversation_list-conversation::-webkit-scrollbar-track {
    background-color: none;
}
/* Cột màn hình chat */
.welcome-screen {
    height: 100%;
}

/* Tối ưu responsive */
@media (max-width: 768px) {
    .welcome-screen {
        display: none;
    }
}