.forgot-password-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #e6f3ff 0%, #ffffff 100%); */
    background-image: url('../../../assets/images/background.jpg');
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
  
  .forgot-password-card {
    background: #ffffff;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .instruction {
    color: #5c7795;
    font-size: 16px;
    margin: 0;
  }
  
  .phone-input-container {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .country-code {
    display: flex;
    align-items: center;
    padding: 8px 8px;
    background: #f5f5f5;
    border-right: 1px solid #ddd;
    gap: 8px;
  }
  
  .dropdown-arrow {
    font-size: 12px;
    color: #666;
  }
  
  .phone-input {
    flex: 1;
    padding: 8px 16px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .continue-button {
    background: #2883ec;
    color: #092e57;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .continue-button:hover {
    background: #1E6BCC;
  }
  .continue-button:active {
    background: #1654a7;
  }

  .back-link {
    color: #5c7795;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
  }
  
  .back-link:hover {
    color: #666;
  }
  
  